#board {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 960px;
  width: 960px;
}

button {
  margin: 0 0 7px 0;
}

.square {
  border: 1px solid black;
  flex: 1 1 auto;
}
